.header {
  padding: 20px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 10px;
  font-weight: bold;
}